<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Tapahtumatyypit</h2></div></div></div>
<div class="border">
<div id="buttonbar">
	<%= button_to ("Alusta tapahtumat", {:action => 'create'}) if permitted_to? :manage, :occasion_types %>
</div>

<%= crumbs %>

<div>Matti <%= debug @occasion_types %></div>
  
<table style="width: 95%;">
  <thead>
  	<tr>
		<th>Tyyppi</th>
		<th>Julkinen?</th>
		<th>Piilotettu?</th>
	</tr>
  </thead>

<tbody>
<% form_tag do %>
  <% @occasion_types.each do |occasion_type| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= occasion_type.name %></td>
      <td><%= check_box_tag("visibility[]",occasion_type.id,occasion_type.public_visible?) %></td>
      <td><%= check_box_tag("notshown[]",occasion_type.id) %></td>
    </tr>
  <% end %> 
  </tbody>
  </table>
  <%= button_to("Tallenna", {:action => "update"}, {:method => :put}) %> 
<% end %>


<br />
</div>
